<%= form_with(model: @article, local: true) do |f| %>

  <% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
      <% @article.errors.full_messages.each do |msg| %>
        <p>
        <%= msg %><br/>
        </p>
      <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %><br/>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>